* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* counter app css */
body {
  /* background-color: #181629!important; */
}
a {
  color: none;
  text-decoration: none;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Mini Netflix App css */
.netflix_clone {
  background-color: #181629 !important;
}
.slick-next,
.slick-prev {
  display: none !important;
}

.banner {
  color: white;
  object-fit: contain;
  /* position: relative;
    overflow: hidden; */
  height: 80vh;
}

.banner img {
  width: 100%;
  object-fit: contain;
  /* position: absolute;
  top: 0;
  left: 0; */
}
.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}
.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  /* color: #c0392b; */
}
.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}
.banner__fadeBottom {
  height: 16.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
.section__header {
  color: white;
  margin-top: 50px;
  margin-left: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  border-left: 4px solid #c0392b;
  display: flex;
  align-items: center;
}
.movies {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.movies::-webkit-scrollbar {
  overflow: hidden;
}
.movie_card {
  position: relative;
  margin-left: 20px;
  width: 300px;
  min-width: 220px;
  transition: transform 450ms;
}
.movie_card:hover {
  transform: scale(1.08);
}

.wrapper {
  width: 100%;
  min-height: 225px;
  overflow: hidden;
  box-shadow: -21px -21px 24px #0a0910, 21px 21px 24px #262342;
}
/* .wrapper img{
  border-radius: 8px;
} */
.content {
  width: 100%;
  padding: 10px 10px 12px 10px;
  white-space: normal;
}
.content h2 {
  cursor: pointer;
}
.content h2:hover .movie_title {
  color: rgb(14, 192, 247) !important;
}
.movie_title {
  font-weight: 700;
  color: #000;
  font-size: 1rem;
}
.movie_releasedate {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}
.movie_rating {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.25rem;
  padding: 0.3rem;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.808);
}
.movie_rating i {
  color: #f5c518;
}

/******************************** minigooglekeepApp css **************************************/
.main_note {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}
.form_style {
  width: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 11px 28px 0px rgb(0 0 0 / 27%);
}
.form_style input,
textarea {
  border: none;
}
.form_style input:focus-visible {
  outline: none;
}
.form_style textarea:focus-visible {
  outline: none;
}
.form_style input::placeholder {
  font-size: 22px;
  font-weight: bold;
}
.plus_sign {
  position: absolute;
  right: -19px;
  top: 1px;
  color: #f5c518;
  border-radius: 20px;
  background: white;
  box-shadow: -2px 11px 28px 5px rgb(0 0 0 / 27%);
  font-size: 40px !important;
}
.MuiButton-root:hover {
  text-decoration: none;
  background: none !important;
}
.MuiButton-root:hover .plus_sign {
  background-color: #f5c518;
  color: white;
}
.MuiTouchRipple-root {
  display: none !important;
}
.notes {
  display: flex;
  flex-wrap: wrap;
}
.note {
  position: relative;
  padding: 10px;
  box-shadow: -2px 11px 28px 0px rgb(0 0 0 / 27%);
  width: 250px;
  margin-right: 20px;
}
.note h1 {
  font-size: 25px;
  font-weight: bold;
  color: #757575;
}
.note p {
  font-size: 16px;
  color: #757575;
  /* word-break: break-word; */
}
.deleteicon {
  position: absolute;
  right: -178px;
  top: 0px;
  color: red;
  border-radius: 20px;
  background: white;
  box-shadow: -2px 11px 28px 5px rgb(0 0 0 / 27%);
  font-size: 40px !important;
}
.MuiButton-root:hover .deleteicon {
  background-color: red;
  color: white;
}

/**************************************************multistepform********************************/
.multistepform {
  background-color: #42a5f5;
  height: 100vh;
}
.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}
.multi_form {
  min-height: 300px;
  /* padding: 16px; */
  /* max-width: 20px 0px; */
}
